@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --border-color: rgb(255 255 255 / 50%);
  --text-white: #fff;
  --text-dark: #333;
  --background-color: #202020;
  --body-font: 16px;
  --font-family: "Rubik", sans-serif;
  --success-color: #b6d7b6;
  --success-background: rgb(160 203 160 / 25%);
  --error-color: #e1a4a4;
  --error-background: rgb(229 156 156 / 25%);
  --info-color: #a4e1d0;
  --info-background: rgb(156 212 229 / 25%);
  --warning-color: #d8dfb5;
  --warning-background: rgb(189 164 72 / 25%);
}

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  color: var(--text-white);
  background-size: cover;
  background-color:#d499ff;
background-image:
radial-gradient(at 12% 39%, hsla(237,86%,61%,1) 0px, transparent 50%),
radial-gradient(at 80% 23%, hsla(8,85%,61%,1) 0px, transparent 50%),
radial-gradient(at 63% 76%, hsla(185,91%,76%,1) 0px, transparent 50%),
radial-gradient(at 42% 45%, hsla(93,94%,60%,1) 0px, transparent 50%),
radial-gradient(at 19% 94%, hsla(263,85%,65%,1) 0px, transparent 50%),
radial-gradient(at 68% 82%, hsla(292,98%,66%,1) 0px, transparent 50%),
radial-gradient(at 28% 52%, hsla(5,92%,65%,1) 0px, transparent 50%);
}

a,
a:hover,
a:focus,
a:active {
  color: var(--text-white);
  text-decoration: none;
}

.btn,
.btn.btn-primary {
  color: var(--text-white);
  background-color: transparent;
  border-color: var(--border-color);
  box-sizing: border-box;
  padding: 5px 15px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.btn-primary:hover,
.btn.btn.btn-primary:focus,
.btn.btn.btn-primary:active {
  color: var(--text-white);
  background-color: transparent;
  border-color: var(--border-color);
  outline: none;
}

.form-control,
select.form-control,
.form-control:hover,
select.form-control:hover,
select.form-control:focus,
.form-control:focus,
select.form-control:active,
.form-control:active {
  color: var(--text-white);
  background-color: transparent;
  border-color: var(--border-color);
  outline: none;
}

select.form-control option,
select.form-control option:hover,
select.form-control option:focus,
select.form-control option:active{
  color: var(--text-dark);
}

.list-group-item {
  color: var(--text-dark);
}

hr {
  border-top: 1px solid var(--border-color);
}

.jumbotron {
  background: rgb(104 104 104 / 25%);
  box-shadow: inset 0px 5px 20px 0 rgb(255 255 255 / 40%);
  backdrop-filter: blur(4px);
  border-radius: 10px !important;
  border: 1px solid rgb(255 255 255 / 15%);
}
.jumbotron p {
  font-size: var(--body-font);
}

.panel {
  background-color: #333;
}

.panel-default > .panel-heading {
  color: var(--text-white);
  background-color: #333;
  border-color: var(--border-color);
}
