<div class="jumbotron">
  <div class="btn-toolbar">
    <button class="btn btn-primary"
            (click)="onloadServers()">Navigate Programmatically</button>
    <button class="btn btn-primary"
            (click)="onReload()">Reload Page</button>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs">
          <li role="presentation"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"><a routerLink="home">Home</a></li>
          <li role="presentation"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: false}"><a routerLink="servers">Servers</a></li>
          <li role="presentation"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: false}"><a [routerLink]="['users']">Users</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>